@inputBackground: #eee;
@inputWidth: 250px;

.button {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid #999999;
  cursor: pointer;
  background-color: #FAF476;
}

.surveyQuestionContainer,
.addQuestionContainer {
  width: 270px;
  margin: auto;
}

/* RANDOM SURVEY QUESTION */
.surveyQuestionContainer {

  .question {
    font-size: 1.2em;
  }
}

/* ADD QUESTION FORM */
.addQuestionContainer {

  .questionInput {
    background-color: @inputBackground;
    width: @inputWidth;
  }
  .confirmSaved {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;
    padding: 3px;
    text-align: center;
  }
}

.answersSection {
  padding: 10px;

  .answer {
    padding: 5px;
  }

  .answerChoice {
    display: inline-block;
  }

  .answerInput {
    background-color: @inputBackground;
    width: @inputWidth;
  }

  .addAnswer {
    display: inline-block;
    color: #07C;
    cursor: pointer;
  }
}