extends layout

block content
  h2 Add a new survey question
  .question Question:
    input(type="text" placeholder="question")
  .answersSection
    .answer
      input.answerInput(type="text" placeholder="answer text")
    .answer
      input.answerInput(type="text" placeholder="answer text")
    .addAnswer(onclick="addAnswer(this)") + Add Answer Choice

  .addQuestion.button Add Question

  script(src="/javascripts/addQuestion.js")