extends layout

block content
  h2 Add a new survey question
  form(method='post', action='/addQuestion', name='add-question')
    .question Question:
      input(type='text' name='question' placeholder='question')
    .answersSection
      .answer
        input.answerInput(type='text' name='answerChoice' placeholder='answer text')
      .answer
        input.answerInput(type='text' name='answerChoice' placeholder='answer text')
      .addAnswer(onclick='addAnswer(this)') + Add Answer Choice
    .addQuestion.button(type='submit', onclick='addQuestion()') Add Question

  script(src='/javascripts/addQuestion.js')