extends layout

block content
  .questionsAndAnswers
    .question Question:
      input(type="text" placeholder="question")
    .answer
      input(type="text" placeholder="answer text")
    .answer
      input(type="text" placeholder="answer text")
    .addAnswer.button(onclick="addAnswer(this)") Add Answer

  .addQuestion.button Add Question

  script(src="/javascripts/addQuestion.js")