extends layout

block content
  .question Question:
    input(type="text" placeholder="question")
  .answer
    input(type="text" placeholder="answer1")
  .answer
    input(type="text" placeholder="answer2")
  .addAnswer Add Answer

  .addQuestionButton Add Question