extends layout

block content
  button.button Login
  button(class="button" onclick="location.href='/addQuestion'") Add Question
  button(class="button" onclick="location.href='/viewSurveyResults'") View Survey Results

  h2= title

  .question= question
  .answersSection
    each answer in answerChoices
      .answer= answer.answer
