extends layout

block content
  button.button Login
  button(class="button" onclick="location.href='/addQuestion'") Add Question
  button(class="button" onclick="location.href='/viewSurveyResults'") View Survey Results

  .surveyQuestionContainer
    h2= title

    form(action="/addAnswer", method="post")
      .question= question
      .answersSection
        each answerChoice in answerChoices
          .answerChoiceGroup
            - var jsonString = JSON.stringify(answerChoice)
            input(type="radio" name="answerChoice" value=jsonString)
            .answerChoice= answerChoice.answer
      button(type="submit" class="button") Submit