extends layout

block content
  if (currentUser)
    button(class="button disabled") Login
  else
    button(class="button" onclick="location.href='/login'") Login
  button(class="button" onclick="location.href='/addQuestion'") Add Question
  button(class="button" onclick="location.href='/surveyResults'") View Survey Results
  if (currentUser)
    button(class="button logout" onclick="location.href='/logout'") Logout
  else
    button(class="button logout disabled") Logout

  .surveyQuestionContainer
    h2= title

    form(action="/addAnswer", method="post")
      .question= question
      .answersSection
        each answerChoice in answerChoices
          .answerChoiceGroup
            - var jsonString = JSON.stringify(answerChoice)
            input(type="radio" name="answerChoice" value=jsonString)
            .answerChoice= answerChoice.answer
      button(type="submit" class="button") Submit